.myApp {
    color: rgb(122, 122, 149);
}

.full{
    padding: 35px;
    padding-top: 10px;
}

.decreseMargin{
    margin: 2px;
}

.firstName {
    display: flex;
}

.lastName {
    display: flex;
}

.center {
    text-align: center;
}

.top {
    display: inline;
}

.horizontalLine {
    width: 15%;
    height: 2px;
    border-width: 0;
    background-color: #00A4BD;
}

.personalInfo{
    margin-bottom: 30px;
}